* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.CARD {
  width: 80px;
  /* Fixed width */
  height: 100px;
  /* Fit within the parent */
  border: 1px solid #ccc;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  max-width: 585px;
  min-width: 500px;

}

#target {
  outline: red solid;
}

#targeted {
  outline: green solid;
}

#clone {
  display: none;
}

#deck,
#discard {
  display: none;
  height: 40vh;
  /* Each player's area is 45% of the screen height */
  flex-wrap: wrap;
  gap:10px
}

.undefined{
  display: none;
}

button {
  padding: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Full screen height */
  padding: 10px;
  background-color: #f0f0f0;

}

.player-area {
  justify-content: space-evenly;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  /* Each player's area is 45% of the screen height */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.hand {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
  border-radius: 5px;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  /* Adjust height as necessary */
}

.board {
  flex: 1;
  /* Board takes most of the width */
  height: 240px;
  /* Fill the available height */
  max-width: 400px;
  /* Limit the width for mobile devices */
  background-color: #dcdcdc;
  border-radius: 5px;
  display: flex;
  gap: 6%;
}

.deck-discard {
  display: flex;
  flex-direction: column;
  /* Vertically align deck and discard */
  justify-content: space-between;
  height: 240px;
  /* Match the board height */
  margin: 10px;

}

.deck,
.discard {
  width: 80px;
  /* Fixed width */
  height: 100px;
  /* Fit within the parent */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfbfbf;
  border-radius: 5px;
}