.mini {
    width:80px;
    height:100px;
    position: relative;
}

.mini .art {
    width:80px;
    height:100px;
    background-size: cover!important;
    border: black solid 10px;
    border-radius: 4px;

}

.mini .effect {
    position: absolute;
    top:70px;
    color:white;
    padding: 2px;

}

.mini .soul-block {
    position: absolute;
    left: -10px;
    top:0px;
}

.mini .soul {
    width:30px;
    height:30px;
    background-image: url(assets/type_icons.png);
    background-size: 210px;
    border-radius: 100%;
}
.mini.blue .art {
    border-color: #4D4DFF;
}
.mini.green .art {
    border-color: #3ABF3A;
}
.mini.red .art {
    border-color: #BF3A3A;
}
.soul.b {
    background-color: #4D4DFF;
}

.soul.g {
    background-color: #3ABF3A;

}
.soul.r {
    background-color: #BF3A3A;
}

.soul.w {
    background-color: grey;
}

.soul.blue {

    background-position: 0% ; 
}

.soul.g {

    background-position: -100% ; 
}
.soul.r {

    background-position: -300% ; 
}

.entry .effect {
    background-color: orange;
   }
   
   .ability .effect {
     background-color: purple;


   }
   
   .aura .effect{
     background-color: chartreuse;
   
   }
   

   .Soul .soul{
    display: none;
   }